body {
    background-color: whitesmoke;
    display: grid;
    grid-template-areas: 
    'header'
    'main';
    grid-auto-columns: auto;
    grid-auto-rows: 70px auto;
    margin: 0px; 
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px; 
}

#header-bar {
    grid-area: header;
    background-color: black;
    width: 100%;
}

#logo {
    display: block;
    width: 350px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
}

#main-container {
    grid-area: main;
    width: auto;
    height: auto;
    margin: auto;
    border: none;
    padding: 7px;
    background-color: white;  
    box-shadow: 0px 0px 10px gray;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

#main-label {
    margin: 15px 15px 20px;
    font-size: 25px;
    color: rgb(78, 78, 78);
}

#form {
    display: grid;
    grid-template-areas:
    'first-name last-name cpf'
    'birth-date email email'
    'country state city'
    'adress adress phone-number';
    grid-auto-columns: 180px;
    grid-auto-rows: auto;
    margin: 17px;
}

#main-container div {
    margin: 10px;
    display: block;
    position: relative;
}

#main-container div h1 {
    font-weight: bold;
    font-size: 13px;
    color: rgb(78, 78, 78);
    height: auto;
    margin: 5px 0px;
}

#main-container div input {
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    transition: 0.5s;
}

#main-container div input:focus {
    border-color: gray;
    outline: none;
}

#main-container div input:invalid {
    border-color: red;
    outline: none;
}

#first-name-div {
    grid-area: first-name;
}
#last-name-div {
    grid-area: last-name;
}
#cpf-div {
    grid-area: cpf;
}
#birth-date-div {
    grid-area: birth-date;
}
#email-div {
    grid-area: email;
}
#country-div {
    grid-area: country;
}
#state-div {
    grid-area: state;
}
#city-div {
    grid-area: city;
}
#adress-div {
    grid-area: adress;
}
#phone-number-div {
    grid-area: phone-number;
}

#footer-buttons {
    display: block;
    margin: 12px;
}

#footer-buttons button {
    padding: 10px;
    border: none;
    background-color: lightgray;
    width: auto;
    height: 30%;
    color: black;
    outline: none;
    transition-duration: 0.5s;
}

#footer-buttons button:focus {
    background-color: darkgray;
    color: white;
}

#footer-buttons button:hover {
    box-shadow: 0px 0px 5px rgb(87, 87, 87);
}

#continue-button {
    float: right;
}